body{
  margin:0;   
}
.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border-radius: 20px;
  font-size: 1.2rem;
  position: relative;
  width: 420px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow:1px 1px 10px #005;

}
.container__button{
  border:0;
  color:white;
  width:35px;
  height: 35px;
  border-radius: 50%; 
  position:absolute;
  right:5px;
  bottom:5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px #000;

}
.container__button:hover{
  box-shadow: 0 0 5px #000;
  transition:box-shadow 200ms;
}
i{
  font-size: 2rem;
}